/*Mixins*/
html {
    height: 100%;
}

html body {
    min-height: 100%;
    overflow: hidden;
}

.carousel .carousel-indicators li {
    border: 0px;
    background-color: #E9E9E9;
    transition: all 0.3s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-left: 5px;
    margin-right: 5px;
}

.carousel .carousel-indicators li.active,
.carousel .carousel-indicators li:hover {
    background-color: #FFFFFF;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.carousel .carousel-indicators li.active {
    margin-left: 5px;
    margin-right: 5px;
}

.carousel .carousel-inner .item {
    height: 800px;
}

.carousel .carousel-inner .item img {
    width: auto%;
    height: 50%
}

.carousel .carousel-control {
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    text-shadow: none;
    background-image: none;
}

.carousel .carousel-control:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background-image: none;
}