* {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: #c3c3c3;
    box-sizing: border-box; 
}

h1 {
    color: whitesmoke;
}


.welcome_message {
    margin-left: 15px;
}

.site_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: inline-block;
}

.site_nav li {
    /* float: left; */
    display: inline-block;
}

.site_nav li a {
    /* display: block; */
    display: inline-block;
    /* color: #c3c3c3; */
    text-align: left;
    padding: 10px;
    text-decoration: none;
    /* line-height: 20px; */
}

.site_nav li a:hover {
    /* background-color: black; */
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #c3c3c3;
} */
footer {
    text-align: center;
    align-content: center;
    /* font-family: Arial, Helvetica, sans-serif;
    font-style: italic; */
    /* font-size: 12px; */
    /* color: lightgray; */
}
.page_container{
    border: 5px darkmagenta dashed;
    background-color: black;
    margin: 10px 5px 10px 5px;
    padding: 10px;
    max-width: 100%;
    margin: auto;
}
/* .inline_img {
    border: 3px dashed magenta;
    display: inline-block;
    padding: 0px 5px 5px 5px;
    vertical-align: top;
} */

/* .inline_par{
    border: 3px dashed blue;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    max-width: 64%;
} */

.intro_container{
    /* border: 3px rgb(255, 255, 0) dashed; */
    /* max-width: 1200px; */
    display: inline-block;
    vertical-align: top;
}

.tt-logo{
    max-height: 40px;
    vertical-align: middle
}
/* CHECK THESE OUT TO SEE ABOUT KEEPING MENU ITEM IN ACTIVE COLOR. SEE TT DESIGN PRINT PG */
.active{
    color:white;
}
.h3{
    color:white;
}
.show_box {
    border: dashed 1px rgb(0, 255, 247);
    max-width: 99%;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
}

.show_nav {
    border: dashed 2px magenta;
    max-width: 25%;
    min-height: 200px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    color: #c3c3c3;
    padding: 0px 10px 0px 10px;
    line-height: 25px;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

.show_nav a {
    color: #c3c3c3;
    text-decoration: none;
}
.show_nav a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.image_area {
    border: dashed 1px blueviolet;
    /* margin: 15px; */
    max-width: 55%;
    /* height: 80%; */
    display: inline-block;
    vertical-align: top;
}

.image_area img {
max-width: 100%;
max-width: 100%;
object-fit: cover;
}

.show_nav2 {
    border: dashed 1px greenyellow;
    max-width: 20%;
    max-height: 95%;
    /* min-height: 200px; */
    display: inline-block;
    text-align: left;
    vertical-align: top;
    list-style-type: none;
    text-decoration: none;
    transition-duration: 0.4s;
    padding: 0px 5px 0px 5px;
}

.show_nav2_categories li {
    text-align: left;
    vertical-align: top;
    list-style-type: none;
    text-decoration: none;
    color:#c3c3c3;
}

.show_nav2_categories li:hover {
    font-weight: bold;
    color: white
}

.show_nav2 button {
    background: none;
    color: inherit;
    border: none;
    outline: none;
    padding: 0;
}

.show_nav2_thumbnails {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    padding: 0px;
}

.show_info {
    text-align: left;
    vertical-align: top;
    color: #cecece;
    padding: 0px 5px 0px 5px;
}

.show_info h5 {
    font-weight: bold;
    color: whitesmoke;
}

.dbh_thumbnail {
    max-width: 48%;
    /* height: 100%; */
    padding: 5px 0px 5px 0px;
    display: inline-block;
}


.dbh_largeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mediaReviewsFloatingText {
    display: none;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color:#c3c3c3
}

.mediaReviewsFloatingText b {
    color: white
}

.initiallyHidden {
    display: none;
}

.initiallyHidden img {
    padding: 5px 0px 5px 0px;
}

div.example {
    background-color: yellow;
    padding: 20px;
}

/* RESPONSIVE DISPLAY CHANGE */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media only screen and (max-width: 950px) {
    .show_nav2 {
        display: none;
    }
    .show_nav {
        display: none;
    }
    .page_container {
        border: 5px lightseagreen dashed;
    }
    div.example {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    div.image_area {
            display: none;
        }
}

/* this was in the 2019 file but I don't know why.
.show_nav2 img {
    height: 30%;
    width: 30%;
} */


/* code that was grayed out in TT2020 site */
/*.content_blox_container{
    color: white;
    width: 980px;
    min-height: 165px;
    margin-left:10px;
    font-size: 12px;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
}
.content_blox h2{
    color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 18px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}
/* .content_blox h2:nth-child(odd){
    margin-left: 60px;
} */
/*.content_blox{
        width: 400px;
        margin-top: 20px;
        min-height: 100px;
        display: inline-block;
        vertical-align: top;
        border: 3px greenyellow dashed;
}
.content_blox img{
    width: 50%;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
    vertical-align: top;
}
.content_blox p{
    width: 120px;
    margin-left: 70px;
    margin-top: -5px;
    line-height: 1.5;
    display: block;
    /* margin-bottom: 20px; 
}*/